<h1>Tennis</h1>

<p align="center">Bienvenido Tenis Score</p>

<center><img src="/public/images/tenis.jpg"></center>

<form name="ingresarJugadores" action="/ingresar_nombres" method="post">
  Jugador1: <input name="nombre_uno" type="text">
  <p>
  Jugador2: <input name="nombre_dos" type="text">
  <p>
  <input type="submit" value="Ingresar">
</form>

